<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-blue-700">
    <div class="container">
      <button
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-400"
      >
        Find Friends
      </button>
      <button class="btn btn-blue">Find Groups</button>
    </div>
  </body>
</html>
